:root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );
}
html {
    font-family: 'Baloo 2', sans-serif;
    font-family: 'Inter', sans-serif;
    background-color: #fff9ef;
    /* background-size: 224px; */
}

main {
    display: flex;
    /* margin: 0 5vw 0 5vh */
}

@media (max-width: 440px) {
    html {
        
    }
    main {
        
    }
}	

@media (max-width: 710px) {
    html {

    }
}	

h1 {
    color: #2f2f2f;
    line-height: 1.4;
    margin-bottom: 0.5em;
    font-weight: 500;
    font-size: 2.5em;
    letter-spacing: .5px;
}

p {
    color: #2f2f2f;
    line-height: 1.4;
    margin-bottom: 0.2em;
    font-weight: 100;
    font-size: 1em;
    letter-spacing: .5px;
}

p strong {
    color: #000000;
    font-weight: 700;
}

code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

#Left {
    width: 70vw;
    height: 100vh;
}

#Rigth {
    width: 30vw;
    height: 100vh;
    padding: 4vh 7vh 4vh 7vh;
}

#CajaEncriptador {
    width: 50vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#CajaResultado {
    display: flex;
    background-color: white;
    box-sizing: border-box;
    padding: 2vw 5vh;
    border-radius: 10px;
    filter: drop-shadow(-1.5px 12px 8px #eee8df);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 96vh;
}

#Encriptar {
    width: 42vh;
    height: 8vh;
    border: solid 0px;
    background-color: #ff8911;
    color: #ffffff;
    font-size: 0.85em;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
}

#Desencriptar {
    width: 42vh;
    height: 8vh;
    border: solid 1px;
    background-color: #fff9ef;
    color: #ff8911;
    font-size: 0.85em;
    border-radius: 10px;
    border-color: #ff8911;
    cursor: pointer;
}

#VisibilidadTexto {
    visibility: hidden;
}

#VisibilidadTexto p {
    font-size: 3.5vh;
    font-weight: 700;
    line-height: 1.3;
    color: #343a40;
}

textarea {
    font-family: 'Baloo 2', sans-serif;
    font-family: 'Inter', sans-serif;
    width: 41vw;
    height: 60vh;
    border-radius: 10px;
    padding: 1vh 1vw;
    margin-bottom: 5vh;
    border: solid 0px;
    font-size: 3.5vh;
    font-weight: 500;
    line-height: 1.3;
    color: #343a40;
}

.aviso {
    font-size: 0.75em;
    font-weight: 300;
    display: flex;
    bottom: 50%;
}

.aviso svg {
    width: 1.2em;
    margin: 0;
}

.svgSecurity {
    width: 98%;
}

.divTexto {
    text-align: center;
}

.divTexto h3 {
    font-size: 3.5vh;
    font-weight: 800;
    line-height: 1.3;
    color: #343a40;
    letter-spacing: normal;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vh;
}

.divTexto p {
    font-weight: 400;
    color: #495057;
}

textarea {
    position: relative;
    background-image: url('../img/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: left;
    resize: none;
    font-size: 1.5em;
}

textarea:focus {
    outline: none;
}

textarea::placeholder {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 1em;
}

.divInput label {
    font-size: 1.5em;
    font-weight: 800;
    color: #495057;
    margin-bottom: 1.5vh;
    margin-top: 1vh;
    text-align: center;
    display: block;
    width: 100%;
}

.TituloPrincipal {
    font-size: 5vh;
    font-weight: 800;
    line-height: 1.3;
    color: #343a40;
    letter-spacing: normal;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vh;
    margin-bottom: 4.5vw;
}

#VisibilidadTexto {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 90%;
    position: absolute;
    top: 1vh;
    right: 1vw;
    background-color: rgba(255, 255, 255, 0.9);
}

.divTextoEncriptado {
    overflow: auto;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.round-button {
    font-family: 'Baloo 2', sans-serif;
    font-family: 'Inter', sans-serif;
    color: #343a40;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #ffffff00;
    text-align: center;
    cursor: pointer;
    border: solid 0.5px;
    border-color: #ff8911;
    margin-top: 4vh;
}

.divTexto p {
    font-weight: 400;
    color: #495057;
}

.svg-copy {
    display: inline-block;
    width: 45px;
    margin: 0 auto;
    text-align: center;
}

.svg-copy {
    display: inline-block;
    width: 45px;
}

#Copy {
    visibility: collapse;
}

@media (max-width: 768px){
    main {
        display: block;
    }

    .TituloPrincipal {
        font-size: 2.25em;
        text-align: center;
        justify-content: center;
    }

    #Left {
        width: 100%;
    }

    #Rigth {
        width: 100%;
    }

    #CajaEncriptador {
        height: auto;

    }

    #CajaResultado {
        height: auto;
        
    }

    #TituloPrincipal {
        font-size: 25px;
        justify-content: center;
    }

    textarea {
        width: 100%;
        height: 50vh;
    }

}


@media (max-width: 450px) {
    main {
        display: block;
        padding: auto;
    }

    .TituloPrincipal {
        font-size: 1.25em ;
        text-align: center;
        justify-content: center;
    }

    .divInput label {
        font-size: 1em;
    }

    .botones {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        
    }
    
    .svgSecurity {
        
        width: 98%;
    }
    
    .divTexto {
        text-align: center;
    }
    
    .divTexto h3 {
        font-size: 3vh;
        font-weight: 800;
        line-height: 1.3;
        color: #343a40;
        letter-spacing: normal;
        margin-left: 2vw;
        margin-right: 2vw;
        margin-bottom: 2vh;
    }
    
    .divTexto p {
        font-size: 14px;
        font-weight: 400;
        color: #495057;
    }

    #Encriptar {
        width: 30vh;
        height: 6vh;
        border: solid 0px;
        background-color: #ff8911;
        color: #ffffff;
        font-size: 0.85em;
        border: 0px;
        border-radius: 10px;
        margin-bottom: 1vh;
        cursor: pointer;
    }
    
    #Desencriptar {
        width: 30vh;
        height: 6vh;
        border: solid 1px;
        background-color: #fff9ef;
        color: #ff8911;
        font-size: 0.85em;
        border-radius: 10px;
        border-color: #ff8911;
        cursor: pointer;
    }

    #Left {
        width: 100%;
        height: max-content;
        margin-left: 4vw;
        margin-right: 2vw;
    }

    #Rigth {
        height: min-content;
        width: 100%;
        padding: 6vh 7vw;
    }

    #CajaEncriptador {
        width: 100%;
        height: auto;
        margin: 0;

    }

    #CajaResultado {
        height: auto;
        padding: 6vh 13vw;
        margin-bottom: 5px;
    }

    textarea {
        width: 100%;
        height: 40vh;
    }
}


